[user]
	email = login@janikvonrotz.ch
	name = Janik von Rotz
	signingkey = ~/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[commit]
	gpgsign = true
[pull]
	ff = true
	rebase = true
[push]
	autoSetupRemote = true
[advice]
	detachedHead = false