[Desktop Entry]
Name[ar]=كونسول
Name[be]=Кансоль
Name[bg]=Конзола
Name[ca]=Consola
Name[cs]=Konzola
Name[da]=Konsol
Name[de]=Console
Name[el]=Κονσόλα
Name[en_GB]=Console
Name[eo]=Konsolo
Name[es]=Consola
Name[eu]=Kontsola
Name[fa]=کنسول
Name[fi]=Konsoli
Name[fr]=Console
Name[fur]=Console
Name[gl]=Consola
Name[he]=מסוף
Name[hi]=कंसोल
Name[hr]=Konzola
Name[hu]=Konzol
Name[id]=Konsol
Name[ie]=Console
Name[it]=Console
Name[ja]=コンソール
Name[ka]=კონსოლი
Name[kab]=Tadiwent
Name[kk]=Консоль
Name[ko]=콘솔
Name[lt]=Konsolė
Name[lv]=Konsole
Name[nb]=Konsoll
Name[ne]=कन्सोल
Name[nl]=Console
Name[oc]=Consòla
Name[pa]=ਕਨਸੋਲ
Name[pl]=Konsola
Name[pt]=Consola
Name[pt_BR]=Console
Name[ro]=Consolă
Name[ru]=Консоль
Name[sk]=Konzola
Name[sl]=Konzola
Name[sr]=Конзола
Name[sr@latin]=Konzola
Name[sv]=Konsol
Name[th]=คอนโซล
Name[tr]=Konsol
Name[uk]=Консоль
Name[vi]=Bàn giao tiếp
Name[zh_CN]=控制台
Name[zh_TW]=主控臺
Name=Console
Exec=kgx
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Console
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ab]=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;
Keywords[ar]=الأمر;الطلب;المدخلات;السطر;سطر الأوامر;سطر أوامر;التشغيل;الصدفة;الطرفية
Keywords[be]=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;каманда;камандны;загадны;радок;выканаць;тэрмінал;
Keywords[bg]=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;команда;ред;терминал;обвивка;шел;промпт;
Keywords[ca]=ordre;intèrpret;cmd;línia d'ordres;executa;shell;terminal;kgx;kings cross;
Keywords[cs]=příkaz;výzva;cmd;command;prompt;commandline;cli;spustit;spouštění;shell;terminál;kgx;kings cross;
Keywords[da]=kommando;prompt;cmd;kommandolinje;kør;skal;terminal;kgx;kings cross;
Keywords[de]=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;befehl;kommando;befehlszeile;kommandozeile;ausführen;
Keywords[el]=εντολή;προτροπή εντολών;cmd;γραμμή εντολών;εκτέλεση;κέλυφος;τερματικό;kgx;kings cross;
Keywords[en_GB]=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;
Keywords[eo]=komando;prompto;cmd;komentlinio;lanĉi;ŝelo;terminalo;
Keywords[es]=comando;prompt;cmd;línea;ejecutar;shell;terminal;kgx;kings cross;
Keywords[eu]=komandoa;gonbitea;cmd;komando-lerroa;exekutatu;shell-a;terminala;kgx;kings cross;
Keywords[fa]=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;دستور;فرمان;اعلان;خط فرمان;اجرا;پوسته;شل;ترمینال;پایانه;
Keywords[fi]=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;pääte;terminaali;komentorivi;
Keywords[fr]=commande;prompt;invite;cmd;commandline;ligne de commande;exécuter;lancer;shell;terminal;kgx;kings cross;
Keywords[fur]=comant:prompt;cmd;rie di comant;shell;terminâl;kgx;kings cross;
Keywords[gl]=orde;prompt;cmd;liña de ores;executar;shell;terminal;kgx;kings cross;
Keywords[he]=פקודה;הפעלה;cmd;שורת פקודה;מעטפת;של;טרמינל;מסוף;kgx;
Keywords[hi]=कमांड;प्रॉम्प्ट;cmd;कमांडलाइन;रन;शैल;टर्मिनल;kgx;किंग्स क्रॉस;
Keywords[hr]=naredba;upit;cmd;naredbeni redak;pokreni;ljuska;terminal;kgx;kings cross;
Keywords[hu]=parancs;bekérés;cmd;parancssor;futtatás;parancsértelmező;terminál;kgx;király keresztje;
Keywords[id]=perintah;prompt;cmd;baris perintah;jalankan;shell;terminal;kgx;kings cross;
Keywords[ie]=comande;linea;cmd;lansar;executer;shell;terminal;kgx;kings cross;
Keywords[it]=comando:prompt;cmd;riga di comando;shell;terminale;kgx;kings cross;
Keywords[ja]=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;コマンド;プロンプト;コマンドライン;実行;シェル;ターミナル;端末;
Keywords[ka]=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;
Keywords[kab]=taladna;nced;cmd;izirig n tladan;selkem;shell;terminal;kgx;ticreḍt n yigelliden;
Keywords[kk]=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;команда;сұраным;командалық жол;жөнелту;қоршам;терминал;король кресті;
Keywords[ko]=command;명령;커맨드;prompt;프롬프트;cmd;commandline;커맨드라인;run;실행;shell;쉘;terminal;터미널;kgx;kings cross;킹스;크로스;킹스크로스;
Keywords[lt]=komandų;eilutė;cmd;komanda;vykdyti;apvalkalas;terminalas;kgx;kings cross;
Keywords[lv]=komanda;uzvedne;cmd;komandrinda;palaist;čaula;terminālis;kgx;kings cross;
Keywords[nb]=kommandolinje;terminal;kgx;kings cross;cmd;prompt;
Keywords[ne]=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;
Keywords[nl]=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;opdrachtregel;opdrachtlijn;commandoregel;commandolijn;
Keywords[oc]=comanda;prompt;convit;cmd;linha;executar;shell;run;terminal;kgx;kings cross;linha de comanda;consòla;
Keywords[pa]=ਕਮਾਂਡ;ਪਰੌਂਟ;ਕਮਾਂਡ-ਲਾਈਨ;ਕਮਾਂਡ ਲਾਈਨ;ਚਲਾਓ;ਰਨ;ਸ਼ੈੱਲ;ਸ਼ੈਲ;ਟਰਮੀਨਲ;ਕਰਾਸ;
Keywords[pl]=powłoka;shell;prompt;polecenie;komenda;wiersz poleceń;linia poleceń;wiersz komend;linia komend;cmd;konsola;terminal;kgx;kings cross;
Keywords[pt]=comando;command;prompt;cmd;consola;linha de comandos;commandline;executar;run;shell;terminal;kgx;kings cross;
Keywords[pt_BR]=comando;command;prompt;cmd;linha de comando;commandline;executar;run;shell;terminal;kgx;kings cross;
Keywords[ro]=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;comandă;linie de comandă;intersecția regelui;
Keywords[ru]=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;команда;терминал;
Keywords[sk]=príkaz;príkazový;riadok;cmd;spustiť;spustenie;shell;terminál;kgx;kings cross;
Keywords[sl]=ukaz;cmd;ukazna vrstica;zagon;lupina;terminal;kgx;
Keywords[sr]=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;команда;наредба;линија;цмд;командлајн;покрени;шел;шкољка;терминал;кгџ;краљев крст;
Keywords[sr@latin]=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;komanda;naredba;linija;cmd;komandlajn;pokreni;šel;školjka;terminal;kgdž;kraljev krst;
Keywords[sv]=kommando;prompt;cmd;kommandorad;kör;skal;terminal;kgx;kings cross;
Keywords[th]=คำสั่ง;พรอมต์;cmd;บรรทัดคำสั่ง;เรียกใช้;เชลล์;เทอร์มินัล;kgx;kings cross;
Keywords[tr]=Console;command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;komut;istem;komut satırı;çalıştır;kabuk;uçbirim;
Keywords[uk]=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;команда;запит;командний рядок;запустити;запуск;оболонка;термінал;кінгс-кросс;
Keywords[vi]=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;lệnh;lenh;thiết bị cuối;thiet bi cuoi;hệ vỏ;he vo;chạy;nhắc;nhắc;bàn giao tiếp;ban giao tiep;
Keywords[zh_CN]=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;命令;提示符;命令行;运行;终端;
Keywords[zh_TW]=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;console;終端機;主控台;主控臺;命令;命令列;命令提示字元;執行;
Keywords=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;
Terminal=false
Type=Application
Categories=System;TerminalEmulator;Utility;GTK;GNOME;
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
Actions=new-window;new-tab;
# Translators: Do NOT translate or transliterate this text (these are enum types)!
X-Purism-FormFactor=Workstation;Mobile;

[Desktop Action new-window]
Exec=kgx
Name[ar]=نافذة جديدة
Name[be]=Новае акно
Name[bg]=Нов прозорец
Name[ca]=Finestra nova
Name[cs]=Nové okno
Name[da]=Nyt vindue
Name[de]=Neues Fenster
Name[el]=Νέο παράθυρο
Name[en_GB]=New Window
Name[eo]=Nova fenestro
Name[es]=Ventana nueva
Name[eu]=Leiho berria
Name[fa]=پنجرهٔ جدید
Name[fi]=Uusi ikkuna
Name[fr]=Nouvelle fenêtre
Name[fur]=Gnûf barcon
Name[gl]=Nova xanela
Name[he]=חלון חדש
Name[hi]=नई खिड़की
Name[hr]=Novi prozor
Name[hu]=Új ablak
Name[id]=Jendela Baru
Name[ie]=Nov fenestre
Name[it]=Nuova finestra
Name[ja]=新しいウィンドウ
Name[ka]=ახალი ფანჯარა
Name[kab]=Asfaylu amaynut
Name[kk]=Жаңа терезе
Name[ko]=새 창
Name[lt]=Naujas langas
Name[lv]=Jauns logs
Name[nb]=Nytt vindu
Name[ne]=नयाँ सञ्झ्याल
Name[nl]=Nieuw venster
Name[oc]=Fenèstra novèla
Name[pa]=ਨਵੀਂ ਵਿੰਡੋ
Name[pl]=Nowe okno
Name[pt]=Nova janela
Name[pt_BR]=Nova janela
Name[ro]=Fereastră nouă
Name[ru]=Новое окно
Name[sk]=Nové okno
Name[sl]=Novo okno
Name[sr]=Нови прозор
Name[sr@latin]=Novi prozor
Name[sv]=Nytt fönster
Name[th]=หน้าต่างใหม่
Name[tr]=Yeni Pencere
Name[uk]=Нове вікно
Name[vi]=Cửa sổ mới
Name[zh_CN]=新建窗口
Name[zh_TW]=新視窗
Name=New Window
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=window-new

[Desktop Action new-tab]
Exec=kgx --tab
Name[ar]=لسان جديد
Name[be]=Новая ўкладка
Name[bg]=Нов подпрозорец
Name[ca]=Pestanya nova
Name[cs]=Nová karta
Name[da]=Nyt faneblad
Name[de]=Neuer Reiter
Name[el]=Νέα καρτέλα
Name[en_GB]=New Tab
Name[eo]=Nova langeto
Name[es]=Pestaña nueva
Name[eu]=Fitxa berria
Name[fa]=زبانهٔ جدید
Name[fi]=Uusi välilehti
Name[fr]=Nouvel onglet
Name[fur]=Gnove schede
Name[gl]=Nova lapela
Name[he]=לשונית חדשה
Name[hi]=नया टैब
Name[hr]=Nova kartica
Name[hu]=Új lap
Name[id]=Tab Baru
Name[ie]=Nov carte
Name[it]=Nuova scheda
Name[ja]=新しいタブ
Name[ka]=ახალი ჩანართი
Name[kab]=Iccer amaynut
Name[kk]=Жаңа бет
Name[ko]=새 탭
Name[lt]=Nauja kortelė
Name[lv]=Jauna cilne
Name[nb]=Ny fane
Name[ne]=नयाँ ट्याब
Name[nl]=Nieuw tabblad
Name[oc]=Onglet novèl
Name[pa]=ਨਵੀਂ ਟੈਬ
Name[pl]=Nowa karta
Name[pt]=Novo separador
Name[pt_BR]=Nova aba
Name[ro]=Filă nouă
Name[ru]=Новая вкладка
Name[sk]=Nová karta
Name[sl]=Nov zavihek
Name[sr]=Нови језичак
Name[sr@latin]=Novi jezičak
Name[sv]=Ny flik
Name[th]=แท็บใหม่
Name[tr]=Yeni Sekme
Name[uk]=Нова вкладка
Name[vi]=Thẻ mới
Name[zh_CN]=新建标签页
Name[zh_TW]=新分頁
Name=New Tab
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=tab-new
